{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}집값 분석 - 내집찾아조{% endblock %}

{% block style %}
    <style>
        p {
            font-weight: bold;
            background: lightgray;
        }

        #main {

        }
    </style>
{% endblock %}

{% block content %}
    <div id="main">
        <img src="../../static/img/부동산%20시각화/분기별_금리와_집값.png" style="width: 100%">

        <img src="../../static/img/부동산%20시각화/구별_연도별_집값.png" style="width: 100%">

        <img src="../../static/img/부동산%20시각화/가까운_역_갯수별_집값.png" style="width: 100%">

        <img src="../../static/img/부동산%20시각화/가까운_공원_갯수별_집값.png" style="width: 100%">

        <img src="../../static/img/부동산%20시각화/가까운_학교_갯수별_집값.png" style="width: 100%">

        <img src="../../static/img/부동산%20시각화/동별_집값_순위.png" style="width: 100%">
    </div>
{% endblock %}

{% block script %}{% endblock %}