{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}집값 예측 - 내집찾아조{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div id="main">
        <div class="container ms-5">
            <img src="../../static/img/부동산%20시각화/구별_안전률.png">

            <img src="../../static/img/부동산%20시각화/구별_위험률.png">

            <img src="../../static/img/부동산%20시각화/구로구_깡통전세_위험률.png">
            <img src="../../static/img/부동산%20시각화/강동구_깡통전세_위험률.png">
            <img src="../../static/img/부동산%20시각화/강서구_깡통전세_위험률.png">
            <img src="../../static/img/부동산%20시각화/금천구_깡통전세_위험률.png">
            <img src="../../static/img/부동산%20시각화/양천구_깡통전세_위험률.png">
            <img src="../../static/img/부동산%20시각화/관악구_깡통전세_위험률.png">
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}