<footer class="bg-secondary bg-opacity-10 text-center fw-bold">
    상호 : ㈜내집구해조 | 대표 : 양종현 | 사업자등록번호 : 835-01-01464 <br>
    주소 : 서울특별시 구로구 디지털로 306 2층(구로동, 대륭포스트타워2차)(우 : 08378) <br><br>
    <a href="https://www.zigbang.com/" target="_blank"><img src="/static/img/icon/직방.png" width="64" height="64"></a>
    <a href="https://www.dabangapp.com/" target="_blank"><img src="/static/img/icon/다방.png" width="64" height="64"></a> <br><br>
    <p class="opacity-50 fw-light">Copyright &copy; FINDMYHOME. All Rights Reserved</p>
</footer>