{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}다세대, 연립 - 내집찾아조{% endblock %}

{% block style %}
    <style>
        .info {
            width: 120%;
            font-weight: bold;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}
    <nav class="nav navbar-expand navbar-dark bg-dark py-2 fw-bold opacity-75 p-2">
        <form class="d-flex" method="POST" action="{% url 'multi' %}">
            {% csrf_token %}

            <select class="form-control me-2" style="width: 100px" type="search" name="gu" aria-label="Search" onchange="categoryChange(this)">
                <option value="">구 선택</option>
                <option value="구로구">구로구</option>
                <option value="강서구">강서구</option>
                <option value="양천구">양천구</option>
                <option value="금천구">금천구</option>
                <option value="관악구">관악구</option>
                <option value="강동구">강동구</option>
            </select>
            <select class="form-control me-2" style="width: 100px" type="search" name="dong" aria-label="Search" id="dong">
                <option value="">동 선택</option>
            </select>
            <input class="form-control me-2 w-auto"  type="search" placeholder="지번 or 도로명주소" name="searched" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"> Search </button>
        </form>
    </nav>



    <div id="main">
        <div id="map" style="height: 550px"></div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=95d3f0dfa5561245c1f47d46bc2daa81&libraries=services,clusterer,drawing"></script>
    <script>


        function categoryChange(e) {
            let dong = []

            let target = document.getElementById("dong");

            if(e.value === "구로구") dong = ["구로동", "온수동", "가리봉동", "오류동", "개봉동", "고척동", "궁동", "항동", "신도림동", "천왕동"];
            else if(e.value === "강서구") dong = ["화곡동", "염창동", "공항동", "가양동", "방화동", "외발산동", "내발산동", "등촌동", "마곡동", "개화동"];
            else if(e.value === "양천구") dong = ["신정동", "신월동", "목동"];
            else if(e.value === "금천구") dong = ["독산동", "가산동", "시흥동"];
            else if(e.value === "관악구") dong = ["봉천동", "신림동", "남현동"];
            else if(e.value === "강동구") dong = ["성내동", "길동", "천호동", "고덕동", "명일동", "상일동", "둔촌동", "암사동"];

            target.options.length = 0;

            let opt = document.createElement("option");
            opt.value = "";
            opt.innerHTML = "동 선택";
            target.appendChild(opt);

            for (let x in dong) {
                let opt = document.createElement("option");
                opt.value = dong[x];
                opt.innerHTML = dong[x];
                target.appendChild(opt);
            }
        }






        // 주소-좌표 변환 객체를 생성합니다
        let coords = new kakao.maps.LatLng(parseFloat('{{ crd.lat }}'), parseFloat('{{ crd.lng }}'));

        let geocoder = new kakao.maps.services.Geocoder();


        let mapContainer = document.getElementById('map');
        let mapOptions = {
            center: coords,
            level: 2
        };

        let map = new kakao.maps.Map(mapContainer, mapOptions);

        let mapTypeControl = new kakao.maps.MapTypeControl();

        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        {#let zoomControl = new kakao.maps.ZoomControl();#}
        {#map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);#}

        // 휠 이벤트를 제어해서 지도 최대 축소범위 조절
        document.addEventListener("wheel", function (e) {
            if(map.getLevel() >= 3) map.setZoomable(false);
            if(e.deltaY < 0) map.setZoomable(true);
        });

        let positions = [
            {% for m in mul %}
                {
                    addr:"<div class='info m-1'>지번 주소: {{ m.sigungu }} {{ m.m_domain }}-{{ m.s_domain }}</div>"+
                        "<div class='row",
                    content:
                        "<div class='col'>"+
                        "<div class='info'>&nbsp;&nbsp;&nbsp;</div>"+
                        "<div class='info'>면적: {{ m.area }}㎡</div>"+
                        "<div class='info'>층수: {{ m.floor }}층</div>"+
                        "<div class='info'>전세가: {{ m.deposit }}만원</div>"+
                        "<div class='info'>예측매매가: {{ m.predpr }}만원</div>"+
                        "<div class='info'>깡통위험: {{ m.risk }}</div>"+
                        "</div>",
                    content_end:
                        "</div>"
                    ,risk:"{{ m.risk }}",
                    "lat":{{ m.latitude }},
                    "lng":{{ m.longitude }}
                },
            {% endfor %}
        ]

        let imageSrc_danger = '../static/img/icon/house_danger.png'
        let imageSrc_normal = '../static/img/icon/house_normal.png'
        let imageSrc_safe = '../static/img/icon/house_safe.png'

        let markers = [];
        let content_length = 1
        for (let i = 0; i < positions.length; i++) {

            if(i>0){
                // 좌표가 중복되는 경우 content 합치기
                if(positions[i-1].lat === positions[i].lat && positions[i-1].lng === positions[i].lng){
                    positions[i].content = positions[i-1].content + positions[i].content;
                    content_length ++;
                }else {
                    content_length = 1;
                }
            }

            let imageSize = new kakao.maps.Size(50, 50);

            switch (positions[i].risk){
                case "위험":
                    markerImage = new kakao.maps.MarkerImage(imageSrc_danger, imageSize);
                    break;
                case "주의":
                    markerImage = new kakao.maps.MarkerImage(imageSrc_normal, imageSize);
                    break;
                case "안전":
                    markerImage = new kakao.maps.MarkerImage(imageSrc_safe, imageSize);
                    break;
            }


            let marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(positions[i].lat,positions[i].lng),
                image: markerImage
            });

            let col_num = " row-cols-4'>";
            switch(content_length){
                    case 1:
                        col_num = "'>";
                        break;
                    case 2:
                        col_num = " row-cols-2'>";
                        break;
                    case 3:
                        col_num = " row-cols-3'>";
                        break;
                }
            let infowindow = new kakao.maps.InfoWindow({
                content: positions[i].addr+col_num + positions[i].content + positions[i].content_end
            });


            // 생성된 마커를 마커 저장하는 변수에 넣음(마커 클러스터러 관련)
            markers.push(marker);

            kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow))
        }

        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker)
            };
        }

        function makeOutListener(infowindow) {
            return function () {
                infowindow.close();
            };
        }

        // 마커 클러스터러를 생성합니다
        let clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
            minLevel: 2 // 클러스터 할 최소 지도 레벨
        });

        // 클러스터러에 마커들을 추가합니다(마커 클러스터러 관련)
        clusterer.addMarkers(markers);
    </script>
{% endblock %}